.cell-wrapper-grid {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.cell-wrapper-grid-inner {
  display: grid;
  width: 100%;
  gap: 20px;
}

.cell-wrapper-grid-inner button {border:1px solid; height:150px}

button.cell.cell-activated {
  background: green;
}