.file-folder-structure {
  padding-left: 16px;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-left: 1px solid #868686;
}

.file-folder-structure ul li {
  padding: 5px 0;
}

.sub-folder-or-file-input {
  margin-left: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}

span.crud-tools {
  display: inline-flex;
  gap: 5px;
  margin-left: 10px;
}

span.crud-tools span {
    font-size: 12px;
    cursor: pointer;
}

span.file-folder-structure-inner {
  display: inline-flex;
  align-items: center;
}

span.file-folder-structure-inner .sub-folder-or-file-input {
  margin-left: 5px !important;
}
