.grid {
  display: grid;
  grid-template-columns: repeat(var(--columns, 10),35px);
  grid-template-rows: repeat(var(--rows, 10),35px);
  gap:2px
}

.outer-selectable-grid {
  text-align: center;
  max-width: calc( var(--rows) * 35px);
  margin: 0 auto;
}

.grid-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  user-select: none;
}

.grid-box.selected {
  background: #000;
  color: #fff;
}