form {
    text-align: left;
    max-width: 650px;
    margin: 0 auto;
}

form div {
    /* display: flex; */
    margin: 10px 0;
    align-items: center;
}

form label {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    margin-bottom: 5px;
}

form div input, form div select {
    padding: 12px 8px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #ccc;
}

input[type="text"], input[type="date"], input[type="password"], input[type="number"], select {
    width: 100%;
}

form div input:focus, form div select:focus {
    outline: none;
}

button {
  width: 200px;
  padding: 10px;
  font-size: 20px;
  text-transform: capitalize;
  background: #080e69;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-top: 40px;
}

.error {
  width: 100%;
  color: red;
  margin: 2px 0px;
}

.position-rel-abs {
  position: relative;
}

.position-rel-abs svg {
  position: absolute;
  right: 0;
  top: 15px;
}